.text-bubble {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 16px;
  /* background: var(--Gradient-Blue, linear-gradient(180deg, #3076FF 0%, #1D49E5 100%)); */
}

.text-input {
    width: 100%;
    color: #FFF;
    font-feature-settings: 'case' on;
    font-family: "SF Pro Text";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
    background: transparent;
    border: none;
    resize: none; 
    overflow: hidden; 
    overflow-y: auto; /* Allow vertical scrolling */
    outline: none;
    height: 250px; /* Minimum height */
    text-align: left;
  }
  
  .text-input::placeholder {
    color: rgba(255, 255, 255, 0.60);
    font-feature-settings: 'case' on;
    font-family: "SF Pro Text";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
  }